
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Website</title>
    <!-- Add custom CSS here -->
    <link rel="stylesheet" href="stylesheets/css-designPage/mystyles.css">
    <link rel="stylesheet" href="stylesheets/css-designPage/panelStyles.css">
     <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--google link-->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
 
    <!-- Funtion Chart-->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script> 
    <script type="text/javascript" src="javascripts/FusionChart/fusioncharts.js"></script>
    <script type="text/javascript" src="javascripts/FusionChart/themes/fusioncharts.theme.fint.js"></script>
    <script type="text/javascript" src="javascripts/FusionChart/themes/fusioncharts.theme.ocean.js"></script>
    <script type="text/javascript" src="javascripts/FusionChart/themes/fusioncharts.theme.candy.js"></script>
    <script type="text/javascript" src="javascripts/FusionChart/themes/fusioncharts.theme.carbon.js"></script>
    <script type="text/javascript" src="javascripts/FusionChart/themes/fusioncharts.theme.zune.js"></script>
    <script type="text/javascript" src="javascripts/FusionChart/themes/fusioncharts.theme.umber.js"></script>
    <script type="text/javascript" src="javascripts/FusionChart/themes/fusioncharts.theme.gammel.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
<body class="bodyAll">

  <div class="Header" >
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="padding: 0px;">
      <a class="navbar-brand" href="#" style="margin-left: 5px;"> <i class="fas fa-chalkboard"></i>My System</a>
      <div class="collapse navbar-collapse" id="navbarNav" >
        <nav style="margin-left: 35%; margin-bottom: 0px;" class="nav nav-tabs" id="nav-tab" role="tablist">
            <a
              class="nav-item nav-link active"
              id="nav-supervisor-tab"
              data-toggle="tab"
              href="#nav-supervisor"
              role="tab"
              aria-controls="nav-supervisor"
              aria-selected="true"
              style="font-weight: bold;"
              >Supervisor</a
            >
            <a
              class="nav-item nav-link"
              id="nav-dashboard-tab"
              data-toggle="tab"
              href="#nav-dashboard"
              role="tab"
              aria-controls="nav-dashboard"
              aria-selected="false"
              style="font-weight: bold;"
              >Dashboard</a
            >
            <a
              class="nav-item nav-link"
              id="nav-history-tab"
              data-toggle="tab"
              href="#nav-history"
              role="tab"
              aria-controls="nav-history"
              aria-selected="false"
              style="font-weight: bold;"
              >History</a
            >
            <a
              class="nav-item nav-link"
              id="nav-alarm-tab"
              data-toggle="tab"
              href="#nav-alarm"
              role="tab"
              aria-controls="nav-alarm"
              aria-selected="false"
              style="font-weight: bold;"
              >Alarm</a
            >
        </nav>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/homepage"> <i class="fas fa-fast-backward" ></i> Back Home </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
          </li>
        </ul>
     </div>
     </nav>
  </div>





<!-- Tab Dash board-->
<div
        class="tab-pane fade"
        id="nav-dashboard"
        role="tabpanel"
        aria-labelledby="nav-dashboard-tab"
      >
      <div style="position: absolute;width: 99%; top: 50px;left: 25px;" >
      <!-- Dashboard -->
    
        <div class="card-deck" style="margin: 5px;">
          <div class="card bg-secondary">
            <div class="card-header">
                   <h3 style="text-align: center; font-weight: bold;">  Nhiệt Độ T1 </h3>
            </div>
            <div class="card-body" style="display: flex; flex-direction: row;">
              <div id="ChartT1" style="height: 300px; width: 70%;"></div>
              <div id="ThermometerT1"></div>
            </div>
          </div>
          <div class="card bg-secondary">
            <div class="card-header">
              <h3 style="text-align: center;  font-weight: bold;">  Nhiệt Độ T2 </h3>
            </div>
            <div class="card-body" style="display: flex; flex-direction: row;">
              <div id="ChartT2" style="height: 300px; width: 70%;"></div>
              <div id="ThermometerT2"></div>
             </div>
          </div> 
        </div>
        <div class="card-deck" style="margin: 5px;">
          <div class="card bg-secondary">
            <div class="card-header">
                   <h3 style="text-align: center;  font-weight: bold;">  Nhiệt Độ T3 </h3>
            </div>
            <div class="card-body" style="display: flex; flex-direction: row;">
              <div id="ChartT3" style="height: 300px; width: 70%;"></div>
              <div id="ThermometerT3"></div>
            </div>
          </div>
          <div class="card bg-secondary">
            <div class="card-header">
              <h3 style="text-align: center;  font-weight: bold;">  Nồng Độ Oxi DO </h3>
            </div>
            <div class="card-body">
             <div id="Container_DO" style="margin-left: 23%;"></div>
             </div>
          </div> 
        </div>
        <div class="card-deck" style="margin: 5px;">
          <div class="card bg-secondary">
            <div class="card-header">
                   <h3 style="text-align: center;  font-weight: bold;">  Chỉ Số PH </h3>
            </div>
            <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">

              <canvas id="Container-PH" style="width: 80%; height: 100%;"></canvas>
              <h3 id="preview-textfield" style="font-weight: bold;"></h3>

            </div>
          </div>
          <div class="card bg-secondary">
            <div class="card-header">
              <h3 style="text-align: center;  font-weight: bold;">  Flow1 Và Flow2 </h3>
            </div>
            <div class="card-body"style="display: flex; flex-direction: row;">
              <div id="chart_div" style="width: 100%; height: 280px; margin-left: 100px; "></div>
             </div>
          </div> 
        </div>
        <div style="height: 10px;"></div>
      </div>
      
</div>

<!-- Tab History-->
<div
        class="tab-pane fade"
        id="nav-history"
        role="tabpanel"
        aria-labelledby="nav-history-tab"
        style="margin-top: 50px;"
      >
      
        <div style="position: absolute;width: 49%; top: 50px; left: 5px;" >
          <div class="card border-light" >
            <div class="card-header" style="text-align: center ; display: flex; height: 55px;">
              <h4 style="font-weight: bold;margin-left: 38%;  width: 150px;">Find Data</h4>
              <button type="button" class="btn btn-primary" style="margin-left: 35%; width: 100px; height: 40px;" >Export</button>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col" style="width: 150px; margin-left: 30px;margin-top: 0px;">
                  <h5>Variable Name : </h5>
                </div>
                <div class="col" >
                  <input type="text" style="height:40px;" placeholder="Search..." id="tagNameFind" required>
                </div>
                <div class="col">
                  <h5 id= "messageFindVariable"></h5>
                </div>
              </div>
              <form style="margin-bottom: 20px; padding: 5px; display: flex; ">
                <label for="" style="margin: 5px; font-weight: bold;"> From </label>
                <input type="datetime-local" id="starttime" required>
                <span class="validity"></span>
                <label for="" style="margin: 5px;  font-weight: bold;"> To </label>
                <input type="datetime-local" id="endtime" required>
                <span class="validity"></span>
                <button  type="button" value="Find Data" class=" btn btn-secondary" style="margin-left: 10px;"
                  onclick="findData()">Find Data</button>
              </form>
              <table class="table table-striped" style="margin-bottom: 50px;">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tag Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Value</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody id="tableFindData">
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div  style="position: absolute;width: 50%; top: 50px; right: 5px; ">
          <div class="card border-light">
            <div class="card-header" style="text-align: center; height: 55px;">
              
              <h4 style="font-weight: bold;"> Data Change</h4>
            </div>
            <div class="card-body" >

              <table class="table table-striped" style="margin-bottom: 50px;" >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Tag Name</th>
                    <th scope="col">Data Type</th>
                    <th scope="col">Value</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody id="tableDataChange">
                  
                </tbody>
              </table>
              
            </div>
          </div>
        </div>

      
</div>

<!-- Tab alarm-->
<div
        class="tab-pane fade"
        id="nav-alarm"
        role="tabpanel"
        aria-labelledby="nav-alarm-tab"
      >
      
        <div class="headerAlarm" style="position: absolute; top:46px ; left:80%;" >
          <div class="card text-center bg-secondary" style="float: right ;margin-right: 50px; padding: 10px; margin-bottom: 10px;">
            <div class="card-header">
              Options
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-primary" id="Acknowledge"> Acknowledge</button>
              <button type="button" class="btn btn-dark" id="ClearTable" > Clear </button>
            </div>
          </div>
        </div>
        <table class="table" style="position: absolute; top:200px ; left:0px;" >
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Source</th>
              <th scope="col">Value</th>
              <th scope="col">Message</th>
              <th scope="col">Type</th>
              <th scope="col">State</th>
            </tr>
          </thead>
          <tbody id= "tableAlarm">
           
          </tbody>
        </table>
     
     
</div>
  
  <!--Tab supervisor -->
  <div
  class="tab-pane fade show active"
  id="nav-supervisor"
  role="tabpanel"
  aria-labelledby="nav-supervisor-tab"
>
<div class="System" >
   
   <button type="button" class="btn btn-danger btn-circle btn-xl" id="btnEmergency">Emergency</button>
   <div id="emergencyCircle"></div>
   <div id="lampRun"></div>
   <div id="lampWarning"></div>
   <div id="lampStop"></div>


  <!-- Emg_Scada1 vs Emg_Scada2-->

  <div id="clock-display"> </div>
  <div class="inline_1" id="chart-container1">Bể Chứa</div>
  <div class="inline_2" id="chart-container2">Bể Cân Bằng</div>
  <div class="inline_3" id="chart-container3">Bể Trung Hòa</div>
  <div class="inline_4" id="chart-container4">Bể Tạm </div>
  <div class="inline_5" id="chart-container5">Bể Hiếu Khí</div>
  

  <!--sensor bể chứ H6-->
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorBeChua">

  <!-- Pipe sau bể chứa -->
  <img src="images\symbols\Pipes\Pipes_097.png" alt="Pipes" id="pipe_3">   <!-- Pipes_098.png-->
  <img src="images\symbols\Pipes\Pipes_012.png" alt="Pipes" id="pipe_4">   <!-- Pipes_013.png -->
  <img src="images\symbols\Pipes\Pipes_112.png" alt="Pipes" id="pipe_5">   <!-- Pipes_113.png -->
  <img src="images\symbols\Pipes\Pipes_002.png" alt="Pipes" id="pipe_6">   <!-- Pipes_003.png -->
  <img src="images\symbols\Pipes\Pipes_012.png" alt="Pipes" id="pipe_7">   <!-- Pipes_013.png -->

  <!-- mũi tên chỉ thị hướng -->
  <!-- <img src="images\symbols\International_Symbols\International_Symbols_013.png" alt="Symbols" id="symbols_1">  International_Symbols_018.png  -->
  <img src="images\symbols\International_Symbols\International_Symbols_013.png" alt="Symbols" id="symbols_2"> <!-- International_Symbols_018.png -->
  <img src="images\symbols\International_Symbols\International_Symbols_013.png" alt="Symbols" id="symbols_3"> <!-- International_Symbols_018.png  -->
  <img src="images\symbols\International_Symbols\International_Symbols_013.png" alt="Symbols" id="symbols_9"> <!-- International_Symbols_018.png -->
  <img src="images\symbols\International_Symbols\International_Symbols_014.png" alt="Symbols" id="symbols_4"> <!-- International_Symbols_019.png -->
  <img src="images\symbols\International_Symbols\International_Symbols_014.png" alt="Symbols" id="symbols_5"> <!-- International_Symbols_019.png  -->
  <img src="images\symbols\International_Symbols\International_Symbols_014.png" alt="Symbols" id="symbols_6"> <!-- International_Symbols_019.png -->
  <img src="images\symbols\International_Symbols\International_Symbols_004.png" alt="Symbols" id="symbols_7"> <!-- International_Symbols_020.png -->
  <img src="images\symbols\International_Symbols\International_Symbols_008.png" alt="Symbols" id="symbols_8"> <!-- International_Symbols_017.png  -->

  <!-- Pump1_2_Run-->
  <img src="images\symbols\Pump\Pump_012.png" alt="Pump" id="pump1_1" data-toggle="modal" data-target="#modalPump1">  <!--Pump_013.png-->
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_8">  <!-- Pipes_053.png-->
  <img src="images\symbols\Pipes\Pipes_017.png" alt="Pipes" id="pipe_10"> <!-- Pipes_018.png-->

  <!-- Pump1_2_Run-->
  <img src="images\symbols\Pump\Pump_012.png" alt="Pump" id="pump1_2" data-toggle="modal" data-target="#modalPump1">   <!--Pump_013.png-->
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_9">  <!-- Pipes_053.png-->
  <img src="images\symbols\Pipes\Pipes_007.png" alt="Pipes" id="pipe_11"> <!-- Pipes_008.png-->

  <!--Pipe sau pump1 -->
  <img src="images\symbols\Pipes\Pipes_017.png" alt="Pipes" id="pipe_13"> <!-- Pipes_018.png-->
  <img src="images\symbols\Pipes\Pipes_107.png" alt="Pipes" id="pipe_12"> <!-- Pipes_108.png-->
  
 <!-- Sensor bể cân bằng --> 
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorHightBeCanBang">  <!-- Light_008.png -->
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorThresBeCanBang">  <!-- Light_008.png -->
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorlowBeCanBang">     <!-- Light_008.png -->

  <!-- Nhiệt độ bể cân bằng T1-->
  <img src="images\symbols\Sensor\Sensor_026.png" alt="Temperature" id="temp_1">
  <div><label for="" id="valueNhietDoT1">T1 : </label></div>
  
  <!-- Pipe sau bể cân bằng -->
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_14">   <!-- Pipes_053.png-->
  <img src="images\symbols\Pipes\Pipes_112.png" alt="Pipes" id="pipe_15">   <!-- Pipes_113.png-->
  <img src="images\symbols\Pipes\Pipes_002.png" alt="Pipes" id="pipe_16">    <!-- Pipes_003.png-->
  <img src="images\symbols\Pipes\Pipes_012.png" alt="Pipes" id="pipe_17">    <!-- Pipes_013.png-->
  
  <!--Pump2_1_Run và Pump2_2_Run-->
  <img src="images\symbols\Pump\Pump_012.png" alt="Pump" id="pump2_1" data-toggle="modal" data-target="#modalPump2">   <!--Pump_013.png-->
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_18"> <!-- Pipes_053.png-->
  <img src="images\symbols\Pipes\Pipes_017.png" alt="Pipes" id="pipe_20">  <!-- Pipes_018.png-->

  <!--Pump2_1_Run và Pump2_2_Run-->
  <img src="images\symbols\Pump\Pump_012.png" alt="Pump" id="pump2_2" data-toggle="modal" data-target="#modalPump2">  <!--Pump_013.png-->
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_19"> <!-- Pipes_053.png-->
  <img src="images\symbols\Pipes\Pipes_007.png" alt="Pipes" id="pipe_21"> <!-- Pipes_008.png-->

  <!-- Pipe sau Pump 2-->
  <img src="images\symbols\Pipes\Pipes_107.png" alt="Pipes" id="pipe_22"> <!-- Pipes_108.png-->
  <img src="images\symbols\Pipes\Pipes_007.png" alt="Pipes" id="pipe_23"> <!-- Pipes_008.png-->
  <img src="images\symbols\Pipes\Pipes_097.png" alt="Pipes" id="pipe_24"> <!-- Pipes_098.png-->
  <img src="images\symbols\Pipes\Pipes_012.png" alt="Pipes" id="pipe_25"> <!-- Pipes_013.png--> 
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_26"> <!-- Pipes_053.png-->

  <!--Sensor Bể Trung hòa-->
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorLowBeTrungHoa">  <!-- Light_008.png -->
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorHightBeTrungHoa">   <!-- Light_008.png -->

  <!--Sensor HCl và Naoh--> 
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorNAOH">   <!-- Light_008.png -->
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorHCL">     <!-- Light_008.png -->

  <!--chieu cao naoh va hcl-->
  <div><label for="" id="HighNaoh">h_NaOH : </label></div>
  <div><label for="" id="HighHcl">h_HCL : </label></div>
  <!--Đo PH-->
  <div><label for="" id="valuePH">PH : </label></div>
  <img src="images\symbols\Flow_Meters\Flow_Meters_047.png" alt="PH" id="ph">

  <!--Bể NAoh-->
  <div><label for="" id="labelNAOH">Bể NAOH </label></div>
  <img src="images\symbols\Tank\Tank_060.png" alt="NaOH" id="naoh"> <!--Tank_059.png amination-->
  <img src="images\symbols\Pipes\Pipes_002.png" alt="Pipes" id="pipe_naoh1">
  <img src="images\symbols\Valve\Valve_035.png" alt="Valve" id="valveNAOH">
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_naoh2">

  <!--Bể HCl-->
  <div><label for="" id="labelHCL">Bể HCL </label></div>
  <img src="images\symbols\Tank\Tank_060.png" alt="HCL" id="hcl"> <!--Tank_059.png amination-->
  <img src="images\symbols\Pipes\Pipes_007.png" alt="Pipes" id="pipe_hcl1">
  <img src="images\symbols\Valve\Valve_035.png" alt="Valve" id="valveHCL">
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id = "pipe_hcl2"> 

  <!--Pump and pipe naoh and HCl-->
  <img src="images\symbols\Pipes\Pipes_122.png" alt="Pipes" id="pipe_pump_naoh_hcl">
  <img src="images\symbols\Pump\Pump_027.png" alt="Pump" id="pumpNAOHHCL">
  
  <!--Trộn Bể Trung Hòa-->
  <img src="images\symbols\Mixer\Mixer_012.png" alt="Mixer" id="mixer_1"> <!--Mixer_013.png-->
  
  <!--Pipe Sau bể trung hòa-->
  <img src="images\symbols\Pipes\Pipes_112.png" alt="Pipes" id="pipe_31">
  <img src="images\symbols\Pipes\Pipes_002.png" alt="Pipes" id="pipe_32">
  <img src="images\symbols\Pipes\Pipes_012.png" alt="Pipes" id="pipe_33">

  <!--Pump3_1_Run-->
  <img src="images\symbols\Pump\Pump_012.png" alt="Pump" id="pump3_1" data-toggle="modal" data-target="#modalPump3">
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_34">
  <img src="images\symbols\Pipes\Pipes_017.png" alt="Pipes" id="pipe_36">

  <!--Pump3_2_Run-->
  <img src="images\symbols\Pump\Pump_012.png" alt="Pump" id="pump3_2" data-toggle="modal" data-target="#modalPump3">
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_35">
  <img src="images\symbols\Pipes\Pipes_007.png" alt="Pipes" id="pipe_37">

  <!--Pipe sau pump3 -->
  <img src="images\symbols\Pipes\Pipes_107.png" alt="Pipes" id="pipe_38">
  <img src="images\symbols\Pipes\Pipes_007.png" alt="Pipes" id="pipe_39">

  <!--Valve3_FB -->
  <img src="images\symbols\Valve\Valve_035.png" alt="Valve" id="valve_3"> 
  <!--Pipe sau valve 3-->
  <img src="images\symbols\Pipes\Pipes_097.png" alt="Pipes" id="pipe_40">
  <img src="images\symbols\Pipes\Pipes_012.png" alt="Pipes" id="pipe_41">
 
  <!-- Flow 1 and pipe sau Flow1 -->
  <img src="images\symbols\Sensor\Sensor_029.png" alt="Flow" id="Flow1">
  <div><label for="" id="valueFlow1">Flow1 : </label></div>
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_42">

  <!--Nhiệt độ bể kị khí-->
  <img src="images\symbols\Sensor\Sensor_026.png" alt="NhietDo" id="NhietDoBeKiKhi">
  <div><label for="" id="valueNhietDoKiKhi">T2 : </label></div>
  <!-- Bể Kị khí-->
  <img src="images\symbols\Chemical\Chemical_015.png" alt="Tank" id="tank_4">
  <div><label for="" id="labelBeKiKhi"> Bể Kị Khí</label></div>
  <div><label for="" id="HighKK">h_KK : </label></div>
  <!--sensor bể kị khí-->
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorKiKhi">

  <!--Pipe trước bể tạm -->
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_43">
  
 <!--sensor bể tạm -->
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorHightBeTam"> 
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorLowBeTam">
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorThresBeTam">
  
  <!--Pipe sau bể tạm -->
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_44">
  <img src="images\symbols\Pipes\Pipes_112.png" alt="Pipes" id="pipe_45">
  <img src="images\symbols\Pipes\Pipes_002.png" alt="Pipes" id="pipe_46">
  <img src="images\symbols\Pipes\Pipes_012.png" alt="Pipes" id="pipe_47">

  <!-- Pump4_1_Run  và Pump4_2_Run-->
  <img src="images\symbols\Pump\Pump_012.png" alt="Pump" id="pump4_1" data-toggle="modal" data-target="#modalPump4">
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_48">
  <img src="images\symbols\Pipes\Pipes_017.png" alt="Pipes" id="pipe_50">

   <!-- Pump4_1_Run  và Pump4_2_Run-->
  <img src="images\symbols\Pump\Pump_012.png" alt="Pump" id="pump4_2" data-toggle="modal" data-target="#modalPump4">
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_49">
  <img src="images\symbols\Pipes\Pipes_007.png" alt="Pipes" id="pipe_51">

  <!--Pipe sau pump 4-->
  <img src="images\symbols\Pipes\Pipes_107.png" alt="Pipes" id="pipe_52">
  <img src="images\symbols\Pipes\Pipes_007.png" alt="Pipes" id="pipe_53">
  <img src="images\symbols\Pipes\Pipes_097.png" alt="Pipes" id="pipe_54">
  <img src="images\symbols\Pipes\Pipes_012.png" alt="Pipes" id="pipe_55">
  
  <!--Flow 2 và pipe sau flow 2 -->
  <div><label for="" id="valueFlow2">Flow2 : </label></div>
  <img src="images\symbols\Sensor\Sensor_029.png" alt="Flow" id="Flow2">
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_56">
  
  <!-- Pum5_1_Run và pipe sau -->
  <img src="images\symbols\Pump\Pump_047.png" alt="Pump" id="pump5_1" data-toggle="modal" data-target="#modalPump5">
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_68">
  <img src="images\symbols\Pipes\Pipes_017.png" alt="Pipes" id="pipe_70">

  <!-- Pum5_1_Run và pipe sau -->
  <img src="images\symbols\Pump\Pump_047.png" alt="Pump" id="pump5_2" data-toggle="modal" data-target="#modalPump5">
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_69">
  <img src="images\symbols\Pipes\Pipes_007.png" alt="Pipes" id="pipe_71">

  <!-- Pipe sau pump5 run nếu 1 trong 2 pump run -->
  <img src="images\symbols\Pipes\Pipes_107.png" alt="Pipes" id="pipe_72">
  <img src="images\symbols\Pipes\Pipes_017.png" alt="Pipes" id="pipe_73">
  <img src="images\symbols\Pipes\Pipes_097.png" alt="Pipes" id="pipe_74">
  
  <!--nhiệt độ bể hiếu khí -->
  <img src="images\symbols\Sensor\Sensor_026.png" alt="Temperature" id="temp_2">
  <div><label for="" id="valueNhietDoHieuKhi">T3 : </label></div>

  <!--nồng độ oxi bể hiếu khí -->
  <img src="images\symbols\Sensor\Sensor_022.png" alt="DO" id="NongDoOxi">
  <div><label for="" id="valueNongDoOxi">DO : </label></div>
  
  <!--pump qua bể lắng-->
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_66">
  <img src="images\symbols\Pipes\Pipes_017.png" alt="Pipes" id="pipe_67">
  <img src="images\symbols\Pump\Pump_007.png" alt="pump" id="pumpBeLang">
  <div><label for="" id="labelGatBun"> Motor Gạt Bùn</label></div>

  <!--Bể lắng-->
  <img src="\images\symbols\Tank\Tank_037.png" alt="Tank" id="tank_7">
  <div><label for="" id="labelBeLang"> Bể Lắng</label></div>
  <div><label for="" id="HighBL">h_Lang : </label></div>

  <!--Sensor bể lắng -->
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorHightBeLang">
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorThresBeLang">
  <img src="images\symbols\Light\Light_007.png" alt="Sensor" id="sensorLowBeLang">

  <!-- Pump6_Run và pipe trước, sau-->
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_62">
  <img src="images\symbols\Pump\Pump_017.png" alt="Pump" id="pump6">
  <img src="images\symbols\Pipes\Pipes_052.png" alt="Pipes" id="pipe_63">
  <img src="images\symbols\Pipes\Pipes_007.png" alt="Pipes" id="pipe_64">
  <img src="images\symbols\Pipes\Pipes_097.png" alt="Pipes" id="pipe_65">
  <img src="images\symbols\Pipes\Pipes_097.png" alt="Pipes" id="pipe_59">
  <img src="images\symbols\Pipes\Pipes_107.png" alt="Pipes" id="pipe_60">
  <img src="images\symbols\Pipes\Pipes_097.png" alt="Pipes" id="pipe_61">

  <!--valve 5 Fb-->
  <img src="images\symbols\Valve\Valve_035.png" alt="Valve" id="valve_5">
  <img src="images\symbols\Pipes\Pipes_097.png" alt="Pipes" id="pipe_57">
  <img src="images\symbols\Pipes\Pipes_012.png" alt="Pipes" id="pipe_58">

  <!--Valve 6 FB -->
  <img src="images\symbols\Valve\Valve_035.png" alt="Valve" id="valve_6">
  <img src="images\symbols\Container\Container_020.png" alt="Container" id="container_bottom">

  <label for="" id="labelMargin"></label>
  
  <!-- valve xa bun-->
  <img src="images\symbols\Pipes\Pipes_052.png" alt="pipe" id="pipe_before_valve4">
  <img src="images\symbols\Valve\Valve_050.png" alt="pipe" id="valve4_fb">
  <label for="" id="labelValve4_FB">Valve4_FB </label>

  <!-- Be thai cuoi cung-->
  <label for="" id="labelBeThai"> Bể Thải</label>
  <!-- Den bao done-->
  <img src="images\symbols\Light\Light_013.png" alt="Light" id="TH_Done">
  <img src="images\symbols\Light\Light_013.png" alt="Light" id="KK_Done">
  <img src="images\symbols\Light\Light_013.png" alt="Light" id="HK_Done">
  <img src="images\symbols\Light\Light_013.png" alt="Light" id="BL_Done">
  

  <!-- muc nuoc be naoh , hcl , ki khi , be lang -->
   <div class="progress" id="h_Ki_Khi">
   </div>
   <div class="progress" id="h_Be_Lang">
   </div>
  <div class="progress" id="h_Naoh">
  </div>
  <div class="progress" id="h_Hcl">
  </div>



<!--Main panel -->
<div class="Symbols" >
  <div class="card"  style=" background-color: rgb(127, 127, 127);">
    <div class="card-header">
      CONTROL PANEL
    </div>
    <div class="card-body">
      <div class="row">
        <button type="button" class="btn btn-primary col lg-6" id="start-in-system" onclick="StartControlPanel()" >START</button>
        <button type="button" class="btn btn-primary col lg-6" id="stop-in-system" onclick="StopControlPanel()" >STOP</button>
      </div>
      <div class="row">
        <label for="" class="col lg-12">Run</label>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary col lg-6" id="auto-in-system" onclick="AutoControlPanel()" >AUTO</button>
        <button type="button" class="btn btn-primary col lg-6" id="man-in-system"onclick="ManControlPanel()" >MAN</button>
      </div>
      <div class="row">
        <label for="" class="col lg-12">Mode</label>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary col lg-12" id="confirm-in-system" onclick="ConfirmControlPanel()" >CONFIRM</button>
      </div>
    </div>
  </div>
</div>
<!-- set thời gian cho 3 bể hiếu khí kị khí và lắng -->
<div class="panelTime1" style=" background-color: rgb(127, 127, 127);">
      <div class="row">
        <div class="col">
          <div class="eachPanel">
            <div class="row" >
              <label for="" class="col lg-1">Kị Khí</label>
              <label for="" class="col lg-1">Time Set</label>
              <div class="col lg-4">
                <div class="row">
                  <input type="number" id="set-hour-KK" class="col lg-2 form-control">
                  <label for="" class="col lg-2">h</label>
                  <input type="number" id="set-minute-KK" class="col lg-2 form-control">
                  <label for="" class="col lg-2">m</label>
                  <input type="number" id="set-second-KK" class="col lg-2 form-control">
                  <label for="" class="col lg-2">s</label>
                </div>
              </div>
        
              <label for="" class="col lg-1">Time Count</label>
              <div class="col lg-4">
                <div class="row">
                  <input type="number" id="count-hour-KK" class="col lg-2 form-control" disabled>
                  <label for="" class="col lg-2">h</label>
                  <input type="number" id="count-minute-KK" class="col lg-2 form-control" disabled>
                  <label for="" class="col lg-2">m</label>
                  <input type="number" id="count-second-KK" class="col lg-2 form-control" disabled>
                  <label for="" class="col lg-2">s</label>
                </div>
              </div>
            </div>
          </div>       
        </div>
      </div>
</div>

<div class="panelTime2" style=" background-color: rgb(127, 127, 127);">
       <div class="row">
         <div class="col">
           <div class="eachPanel">
             <div class="row" >
               <label for="" class="col lg-1">Hiếu Khí</label>
               <label for="" class="col lg-1">Time Set</label>
               <div class="col lg-4">
                 <div class="row">
                   <input type="number" id="set-hour-HK" class="col lg-2 form-control">
                   <label for="" class="col lg-2">h</label>
                   <input type="number" id="set-minute-HK" class="col lg-2 form-control">
                   <label for="" class="col lg-2">m</label>
                   <input type="number" id="set-second-HK" class="col lg-2 form-control">
                   <label for="" class="col lg-2">s</label>
                 </div>
               </div>
         
               <label for="" class="col lg-1">Time Count</label>
               <div class="col lg-4">
                 <div class="row">
                   <input type="number" id="count-hour-HK" class="col lg-2 form-control" disabled>
                   <label for="" class="col lg-2">h</label>
                   <input type="number" id="count-minute-HK" class="col lg-2 form-control" disabled>
                   <label for="" class="col lg-2">m</label>
                   <input type="number" id="count-second-HK" class="col lg-2 form-control" disabled>
                   <label for="" class="col lg-2">s</label>
                 </div>
               </div>
             </div>
           </div>       
         </div>
       </div>
 </div>

 <div class="panelTime3" style=" background-color: rgb(127, 127, 127);">
       <div class="row">
         <div class="col">
           <div class="eachPanel">
             <div class="row" >
               <label for="" class="col lg-1">Lắng</label>
               <label for="" class="col lg-1">Time Set</label>
               <div class="col lg-4">
                 <div class="row">
                   <input type="number" id="set-hour-BL" class="col lg-2 form-control">
                   <label for="" class="col lg-2">h</label>
                   <input type="number" id="set-minute-BL" class="col lg-2 form-control">
                   <label for="" class="col lg-2">m</label>
                   <input type="number" id="set-second-BL" class="col lg-2 form-control">
                   <label for="" class="col lg-2">s</label>
                 </div>
               </div>
         
               <label for="" class="col lg-1">Time Count</label>
               <div class="col lg-4">
                 <div class="row">
                   <input type="number" id="count-hour-BL" class="col lg-2 form-control" disabled>
                   <label for="" class="col lg-2">h</label>
                   <input type="number" id="count-minute-BL" class="col lg-2 form-control" disabled>
                   <label for="" class="col lg-2">m</label>
                   <input type="number" id="count-second-BL" class="col lg-2 form-control" disabled>
                   <label for="" class="col lg-2">s</label>
                 </div>
               </div>
             </div>
           </div>       
         </div>
       </div>
 </div>

 <!-- Display value all pump -->
<div class="panelPump">
  <div class="card" style=" background-color: rgb(127, 127, 127);">
    <div class="card-body">
       <div class="row">
         <div class="col lg-2">
           <div class="eachPump">
             <div class="row" >
               <label for="" class="col lg-6">Bơm 1</label>
               <label for="" class="col lg-6" id="mode-pump1">Mode</label>
             </div>
             <div class="row" >
              <label for="" class="col lg-6">RPM</label>
              <label for="" class="col lg-6">Time</label>
            </div>
            <div class="row" >
              <label for="" class="col lg-6" id="RPM-Pump1_1">***</label>
              <div class="col lg-6">
                <label for=""  id="Time-Pump1_1_h">00h</label>
                <label for=""  id="Time-Pump1_1_m">00m</label>
                <label for=""  id="Time-Pump1_1_s">00s</label>
              </div>
            </div>
            <div class="row" >
              <label for="" class="col lg-6" id="RPM-Pump1_2">***</label>
              <div class="col lg-6">
                <label for=""  id="Time-Pump1_2_h">00h</label>
                <label for=""  id="Time-Pump1_2_m">00m</label>
                <label for=""  id="Time-Pump1_2_s">00s</label>
              </div>
            </div>
           </div>       
         </div>
         <div class="col lg-2">
          <div class="eachPump">
            <div class="row" >
              <label for="" class="col lg-6">Bơm 2</label>
              <label for="" class="col lg-6" id="mode-pump2">Mode</label>
            </div>
            <div class="row" >
             <label for="" class="col lg-6">RPM</label>
             <label for="" class="col lg-6">Time</label>
           </div>
           <div class="row" >
             <label for="" class="col lg-6" id="RPM-Pump2_1">***</label>
             <div class="col lg-6">
              <label for=""  id="Time-Pump2_1_h">00h</label>
              <label for=""  id="Time-Pump2_1_m">00m</label>
              <label for=""  id="Time-Pump2_1_s">00s</label>
            </div>
           </div>
           <div class="row" >
             <label for="" class="col lg-6" id="RPM-Pump2_2">***</label>
             <div class="col lg-6">
              <label for=""  id="Time-Pump2_2_h">00h</label>
              <label for=""  id="Time-Pump2_2_m">00m</label>
              <label for=""  id="Time-Pump2_2_s">00s</label>
            </div>
           </div>
          </div> 
         </div>
         <div class="col lg-2">
          <div class="eachPump">
            <div class="row" >
              <label for="" class="col lg-6" >Bơm 3</label>
              <label for="" class="col lg-6" id="mode-pump3">Mode</label>
            </div>
            <div class="row" >
             <label for="" class="col lg-6">RPM</label>
             <label for="" class="col lg-6">Time</label>
           </div>
           <div class="row" >
             <label for="" class="col lg-6" id="RPM-Pump3_1">***</label>
             <div class="col lg-6">
              <label for=""  id="Time-Pump3_1_h">00h</label>
              <label for=""  id="Time-Pump3_1_m">00m</label>
              <label for=""  id="Time-Pump3_1_s">00s</label>
            </div>
           </div>
           <div class="row" >
             <label for="" class="col lg-6" id="RPM-Pump3_2">***</label>
             <div class="col lg-6">
              <label for=""  id="Time-Pump3_2_h">00h</label>
              <label for=""  id="Time-Pump3_2_m">00m</label>
              <label for=""  id="Time-Pump3_2_s">00s</label>
            </div>
           </div>
          </div> 
          </div> 
          <div class="col lg-2">
            <div class="eachPump">
              <div class="row" >
                <label for="" class="col lg-6">Bơm 4</label>
                <label for="" class="col lg-6" id="mode-pump4">Mode</label>
              </div>
              <div class="row" >
               <label for="" class="col lg-6">RPM</label>
               <label for="" class="col lg-6">Time</label>
             </div>
             <div class="row" >
               <label for="" class="col lg-6" id="RPM-Pump4_1">***</label>
               <div class="col lg-6">
                <label for=""  id="Time-Pump4_1_h">00h</label>
                <label for=""  id="Time-Pump4_1_m">00m</label>
                <label for=""  id="Time-Pump4_1_s">00s</label>
              </div>
             </div>
             <div class="row" >
               <label for="" class="col lg-6" id="RPM-Pump4_2">***</label>
               <div class="col lg-6">
                <label for=""  id="Time-Pump4_2_h">00h</label>
                <label for=""  id="Time-Pump4_2_m">00m</label>
                <label for=""  id="Time-Pump4_2_s">00s</label>
              </div>
             </div>
            </div> 
            </div> 
            <div class="col lg-2">
              <div class="eachPump">
                <div class="row" >
                  <label for="" class="col lg-6">Sụt Khí</label>
                  <label for="" class="col lg-6" id="mode-pump5">Mode</label>
                </div>
                <div class="row" >
                 <label for="" class="col lg-6" >RPM</label>
                 <label for="" class="col lg-6" >Time</label>
               </div>
               <div class="row" >
                 <label for="" class="col lg-6" id="RPM-Pump5_1">***</label>
                 <div class="col lg-6">
                  <label for=""  id="Time-Pump5_1_h">00h</label>
                  <label for=""  id="Time-Pump5_1_m">00m</label>
                  <label for=""  id="Time-Pump5_1_s">00s</label>
                </div>
               </div>
               <div class="row" >
                 <label for="" class="col lg-6" id="RPM-Pump5_2">***</label>
                 <div class="col lg-6">
                  <label for=""  id="Time-Pump5_2_h">00h</label>
                  <label for=""  id="Time-Pump5_2_m">00m</label>
                  <label for=""  id="Time-Pump5_2_s">00s</label>
                </div>
               </div>
              </div> 
              </div> 
         </div>
         </div>
       </div>
    </div>

     <!-- Overload and emergency -->
   <label for="" id= "overloadPump1" ></label> <!--overload_1-->
   <label for="" id= "overloadPump2" ></label> <!--overload_2-->
   <label for="" id= "overloadPump3" ></label> <!--overload_3-->
   <label for="" id= "overloadTH" ></label> <!--overload_7-->
   <label for="" id= "overloadMix" ></label> <!--overload_9-->
   <label for="" id= "overloadPump4" ></label> <!--overload_4-->
   <label for="" id= "overloadPump5" ></label> <!--overload_5-->
   <label for="" id= "overloadPumpBun" ></label> <!--overload_6-->
   <label for="" id= "overloadPumpGatBun" ></label> <!--overload_8-->


   <!--Error Valve-->
   <div id= "ErrorValve_1" ></div> 
   <div id= "ErrorValve_2" ></div> 
   <div id= "ErrorValve_3" ></div> 
   <div id= "ErrorValve_4" ></div>
   <div id= "ErrorValve_5" ></div> 
   <div id= "ErrorValve_6" ></div> 

   
   <!-- lamp error -->
   <div id="ErrorPump1_1"></div>
   <div id="ErrorPump1_2"></div>
   <div id="ErrorPump2_1"></div>
   <div id="ErrorPump2_2"></div>
   <div id="ErrorPump3_1"></div>
   <div id="ErrorPump3_2"></div>
   <div id="ErrorPump4_1"></div>
   <div id="ErrorPump4_2"></div>
   <div id="ErrorPump5_1"></div>
   <div id="ErrorPump5_2"></div>
   <div id="ErrorPumpTH"></div>
   <div id="ErrorPumpBun"></div>
   <div id="ErrorPumpGatBun"></div>
  </div>

 </div>


<!-- Modal pump 1 -->
<div class="modal fade" id="modalPump1">
<div class="modal-dialog modal-md">
  <div class="modal-content bg-secondary">
    <!-- Modal Header -->
    <div class="modal-header ">
      <h3 class="modal-title w-100 text-center" style="font-weight: bold;" >Bơm 1</h3>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body" style="font-weight: bold;">
      <form >
        <div class="form-group">
        <div class="row" style="text-align: center;">
          <button type="button" class="btn btn-primary col lg-6" id="pump1-auto-in" >AUTO</button>
          <button type="button" class="btn btn-primary col lg-6" id="pump1-man-in" >MAN</button>
        </div>
        </div>
        <div class="form-group">
        <div class="row">
          <button type="button" class="btn btn-primary col lg-12" id="pump1-confirm-in" >CONFIRM</button>
        </div>
        </div>
        <div class="form-group">
        <div class="row">
          <button type="button" class="btn btn-primary col lg-6" id="pump1-start-motor1"  >Start 1</button>
          <button type="button" class="btn btn-primary col lg-6" id="pump1-start-motor2" >Start 2</button>
        </div>
        </div>
        <div class="form-group">
          <div class="row">
            <button type="button" class="btn btn-primary col lg-6" id="pump1-stop-motor1" >Stop 1</button>
            <button type="button" class="btn btn-primary col lg-6" id="pump1-stop-motor2" >Stop 2</button>
          </div>
          </div>
        <table class="table form-group" style="text-align: center;">
          <tbody>
            <tr>
              <td> <label for="">Time 1</label></td>
              <td> <label for="">Time 2</label></td>
            </tr>
            <tr>
              <td>
                <div class="row">
                <input type="number" name="hour" id="hour-pump1_1" min="0" max="100" class="col form-control">
                <label for="" class="" style ="padding: 5px;">h</label>
                <input type="number" name="minute" id="minute-pump1_1" min="0" max="100" class="col form-control">
                <label for=""  class="" style ="padding: 5px;">m</label>
                <label for="" class="col lg-1"></label>  
               </div>
              </td>
              <td>
                <div class="row">
                  <input type="number" name="hour" id="hour-pump1_2" min="0" max="100" class="col form-control">
                  <label for="" class="" style ="padding: 5px;">h</label>
                  <input type="number" name="minute" id="minute-pump1_2" min="0" max="100" class="col form-control">
                  <label for="" class="" style ="padding: 5px;">m</label>
                  <label for="" class="col lg-1"></label>  
                 </div>
              </td>
            </tr>
            <tr>
              <td> <label for="">W1</label></td>
              <td> <label for="">W2</label></td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <label for="" class="col lg-1"></label>   
                  <input type="number" name="hour" id="RPM-pump1_1" min="0" max="1000" class="col lg-5 form-control" >   
                  <label for="" class="col lg-1"></label>       
                 </div>
              </td>
              <td>
                <div class="row">
                  <label for="" class="col lg-1"></label>   
                  <input type="number" name="hour" id="RPM-pump1_2" min="0" max="1000" class="col lg-5 form-control" >   
                  <label for="" class="col lg-1"></label>       
                 </div>
              </td>
            </tr>
        </table>
      </form>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Modal pump 2 -->
<div class="modal fade" id="modalPump2">
<div class="modal-dialog modal-md">
  <div class="modal-content bg-secondary">
    <!-- Modal Header -->
    <div class="modal-header ">
      <h3 class="modal-title w-100 text-center" style="font-weight: bold;" >Bơm 2</h3>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
   <!-- Modal body -->
   <div class="modal-body" style="font-weight: bold;">
    <form >
      <div class="form-group">
      <div class="row" style="text-align: center;">
        <button type="button" class="btn btn-primary col lg-6" id="pump2-auto-in">AUTO</button>
        <button type="button" class="btn btn-primary col lg-6" id="pump2-man-in">MAN</button>
      </div>
      </div>
      <div class="form-group">
      <div class="row">
        <button type="button" class="btn btn-primary col lg-12" id="pump2-confirm-in">CONFIRM</button>
      </div>
      </div>
      <div class="form-group">
      <div class="row">
        <button type="button" class="btn btn-primary col lg-6" id="pump2-start-motor1" >Start 1</button>
        <button type="button" class="btn btn-primary col lg-6" id="pump2-start-motor2" >Start 2</button>
      </div>
      </div>
      <div class="form-group">
        <div class="row">
          <button type="button" class="btn btn-primary col lg-6" id="pump2-stop-motor1" >Stop 1</button>
          <button type="button" class="btn btn-primary col lg-6" id="pump2-stop-motor2" >Stop 2</button>
        </div>
        </div>
      <table class="table form-group" style="text-align: center;">
        <tbody>
          <tr>
            <td> <label for="">Time 1</label></td>
            <td> <label for="">Time 2</label></td>
          </tr>
          <tr>
            <td>
              <div class="row">
              <input type="number" name="hour" id="hour-pump2_1" min="0" max="100" class="col form-control">
              <label for="" class="" style ="padding: 5px;">h</label>
              <input type="number" name="minute" id="minute-pump2_1" min="0" max="100" class="col form-control">
              <label for=""  class="" style ="padding: 5px;">m</label>
              <label for="" class="col lg-1"></label>  
             </div>
            </td>
            <td>
              <div class="row">
                <input type="number" name="hour" id="hour-pump2_2" min="0" max="100" class="col form-control">
                <label for="" class="" style ="padding: 5px;">h</label>
                <input type="number" name="minute" id="minute-pump2_2" min="0" max="100" class="col form-control">
                <label for="" class="" style ="padding: 5px;">m</label>
                <label for="" class="col lg-1"></label>  
               </div>
            </td>
          </tr>
          <tr>
            <td> <label for="">W1</label></td>
            <td> <label for="">W2</label></td>
          </tr>
          <tr>
            <td>
              <div class="row">
                <label for="" class="col lg-1"></label>   
                <input type="number" name="hour" id="RPM-pump2_1" min="0" max="1000" class="col lg-5 form-control" >   
                <label for="" class="col lg-1"></label>       
               </div>
            </td>
            <td>
              <div class="row">
                <label for="" class="col lg-1"></label>   
                <input type="number" name="hour" id="RPM-pump2_2" min="0" max="1000" class="col lg-5 form-control" >   
                <label for="" class="col lg-1"></label>       
               </div>
            </td>
          </tr>
      </table>
    </form>
  </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Modal pump 3 -->
<div class="modal fade" id="modalPump3">
<div class="modal-dialog modal-md">
  <div class="modal-content bg-secondary">
    <!-- Modal Header -->
    <div class="modal-header ">
      <h3 class="modal-title w-100 text-center" style="font-weight: bold;" >Bơm 3</h3>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body" style="font-weight: bold;">
      <form >
        <div class="form-group">
        <div class="row" style="text-align: center;">
          <button type="button" class="btn btn-primary col lg-6" id="pump3-auto-in">AUTO</button>
          <button type="button" class="btn btn-primary col lg-6" id="pump3-man-in">MAN</button>
        </div>
        </div>
        <div class="form-group">
        <div class="row">
          <button type="button" class="btn btn-primary col lg-12" id="pump3-confirm-in">CONFIRM</button>
        </div>
        </div>
        <div class="form-group">
        <div class="row">
          <button type="button" class="btn btn-primary col lg-6" id="pump3-start-motor1" >Start 1</button>
          <button type="button" class="btn btn-primary col lg-6" id="pump3-start-motor2" >Start 2</button>
        </div>
        </div>
        <div class="form-group">
          <div class="row">
            <button type="button" class="btn btn-primary col lg-6" id="pump3-stop-motor1" >Stop 1</button>
            <button type="button" class="btn btn-primary col lg-6" id="pump3-stop-motor2" >Stop 2</button>
          </div>
          </div>
        <table class="table form-group" style="text-align: center;">
          <tbody>
            <tr>
              <td> <label for="">Time 1</label></td>
              <td> <label for="">Time 2</label></td>
            </tr>
            <tr>
              <td>
                <div class="row">
                <input type="number" name="hour" id="hour-pump3_1" min="0" max="100" class="col form-control">
                <label for="" class="" style ="padding: 5px;">h</label>
                <input type="number" name="minute" id="minute-pump3_1" min="0" max="100" class="col form-control">
                <label for=""  class="" style ="padding: 5px;">m</label>
                <label for="" class="col lg-1"></label>  
               </div>
              </td>
              <td>
                <div class="row">
                  <input type="number" name="hour" id="hour-pump3_2" min="0" max="100" class="col form-control">
                  <label for="" class="" style ="padding: 5px;">h</label>
                  <input type="number" name="minute" id="minute-pump3_2" min="0" max="100" class="col form-control">
                  <label for="" class="" style ="padding: 5px;">m</label>
                  <label for="" class="col lg-1"></label>  
                 </div>
              </td>
            </tr>
            <tr>
              <td> <label for="">W1</label></td>
              <td> <label for="">W2</label></td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <label for="" class="col lg-1"></label>   
                  <input type="number" name="hour" id="RPM-pump3_1" min="0" max="1000" class="col lg-5 form-control" >   
                  <label for="" class="col lg-1"></label>       
                 </div>
              </td>
              <td>
                <div class="row">
                  <label for="" class="col lg-1"></label>   
                  <input type="number" name="hour" id="RPM-pump3_2" min="0" max="1000" class="col lg-5 form-control" >   
                  <label for="" class="col lg-1"></label>       
                 </div>
              </td>
            </tr>
        </table>
      </form>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Modal pump 4 -->
<div class="modal fade " id="modalPump4">
<div class="modal-dialog modal-md">
  <div class="modal-content bg-secondary">
    <!-- Modal Header -->
    <div class="modal-header ">
      <h3 class="modal-title w-100 text-center" style="font-weight: bold;" >Bơm 4</h3>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body" style="font-weight: bold;">
      <form >
        <div class="form-group">
        <div class="row" style="text-align: center;">
          <button type="button" class="btn btn-primary col lg-6" id="pump4-auto-in">AUTO</button>
          <button type="button" class="btn btn-primary col lg-6" id="pump4-man-in">MAN</button>
        </div>
        </div>
        <div class="form-group">
        <div class="row">
          <button type="button" class="btn btn-primary col lg-12" id="pump4-confirm-in">CONFIRM</button>
        </div>
        </div>
        <div class="form-group">
        <div class="row">
          <button type="button" class="btn btn-primary col lg-6" id="pump4-start-motor1" >Start 1</button>
          <button type="button" class="btn btn-primary col lg-6" id="pump4-start-motor2" >Start 2</button>
        </div>
        </div>
        <div class="form-group">
          <div class="row">
            <button type="button" class="btn btn-primary col lg-6" id="pump4-stop-motor1" >Stop 1</button>
            <button type="button" class="btn btn-primary col lg-6" id="pump4-stop-motor2" >Stop 2</button>
          </div>
          </div>
        <table class="table form-group" style="text-align: center;">
          <tbody>
            <tr>
              <td> <label for="">Time 1</label></td>
              <td> <label for="">Time 2</label></td>
            </tr>
            <tr>
              <td>
                <div class="row">
                <input type="number" name="hour" id="hour-pump4_1" min="0" max="100" class="col form-control">
                <label for="" class="" style ="padding: 5px;">h</label>
                <input type="number" name="minute" id="minute-pump4_1" min="0" max="100" class="col form-control">
                <label for=""  class="" style ="padding: 5px;">m</label>
                <label for="" class="col lg-1"></label>  
               </div>
              </td>
              <td>
                <div class="row">
                  <input type="number" name="hour" id="hour-pump4_2" min="0" max="100" class="col form-control">
                  <label for="" class="" style ="padding: 5px;">h</label>
                  <input type="number" name="minute" id="minute-pump4_2" min="0" max="100" class="col form-control">
                  <label for="" class="" style ="padding: 5px;">m</label>
                  <label for="" class="col lg-1"></label>  
                 </div>
              </td>
            </tr>
            <tr>
              <td> <label for="">W1</label></td>
              <td> <label for="">W2</label></td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <label for="" class="col lg-1"></label>   
                  <input type="number" name="hour" id="RPM-pump4_1" min="0" max="1000" class="col lg-5 form-control" >   
                  <label for="" class="col lg-1"></label>       
                 </div>
              </td>
              <td>
                <div class="row">
                  <label for="" class="col lg-1"></label>   
                  <input type="number" name="hour" id="RPM-pump4_2" min="0" max="1000" class="col lg-5 form-control" >   
                  <label for="" class="col lg-1"></label>       
                 </div>
              </td>
            </tr>
        </table>
      </form>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

<!-- Modal pump 5-->
<div class="modal fade " id="modalPump5">
<div class="modal-dialog modal-md">
  <div class="modal-content bg-secondary">
    <!-- Modal Header -->
    <div class="modal-header ">
      <h3 class="modal-title w-100 text-center" style="font-weight: bold;" >Bơm Sụt Khí</h3>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body" style="font-weight: bold;">
      <form >
        <div class="form-group">
        <div class="row" style="text-align: center;">
          <button type="button" class="btn btn-primary col lg-6" id="pump5-auto-in">AUTO</button>
          <button type="button" class="btn btn-primary col lg-6" id="pump5-man-in">MAN</button>
        </div>
        </div>
        <div class="form-group">
        <div class="row">
          <button type="button" class="btn btn-primary col lg-12" id="pump5-confirm-in">CONFIRM</button>
        </div>
        </div>
        <div class="form-group">
        <div class="row">
          <button type="button" class="btn btn-primary col lg-6" id="pump5-start-motor1" >Start 1</button>
          <button type="button" class="btn btn-primary col lg-6" id="pump5-start-motor2" >Start 2</button>
        </div>
        </div>
        <div class="form-group">
          <div class="row">
            <button type="button" class="btn btn-primary col lg-6" id="pump5-stop-motor1" >Stop 1</button>
            <button type="button" class="btn btn-primary col lg-6" id="pump5-stop-motor2" >Stop 2</button>
          </div>
          </div>
        <table class="table form-group" style="text-align: center;">
          <tbody>
            <tr>
              <td> <label for="">Time 1</label></td>
              <td> <label for="">Time 2</label></td>
            </tr>
            <tr>
              <td>
                <div class="row">
                <input type="number" name="hour" id="hour-pump5_1" min="0" max="100" class="col form-control">
                <label for="" class="" style ="padding: 5px;">h</label>
                <input type="number" name="minute" id="minute-pump5_1" min="0" max="100" class="col form-control">
                <label for=""  class="" style ="padding: 5px;">m</label>
                <label for="" class="col lg-1"></label>  
               </div>
              </td>
              <td>
                <div class="row">
                  <input type="number" name="hour" id="hour-pump5_2" min="0" max="100" class="col form-control">
                  <label for="" class="" style ="padding: 5px;">h</label>
                  <input type="number" name="minute" id="minute-pump5_2" min="0" max="100" class="col form-control">
                  <label for="" class="" style ="padding: 5px;">m</label>
                  <label for="" class="col lg-1"></label>  
                 </div>
              </td>
            </tr>
            <tr>
              <td> <label for="">W1</label></td>
              <td> <label for="">W2</label></td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <label for="" class="col lg-1"></label>   
                  <input type="number" name="hour" id="RPM-pump5_1" min="0" max="1000" class="col lg-5 form-control" >   
                  <label for="" class="col lg-1"></label>       
                 </div>
              </td>
              <td>
                <div class="row">
                  <label for="" class="col lg-1"></label>   
                  <input type="number" name="hour" id="RPM-pump5_2" min="0" max="1000" class="col lg-5 form-control" >   
                  <label for="" class="col lg-1"></label>       
                 </div>
              </td>
            </tr>
        </table>
      </form>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
</div>

    <!-- JavaScript -->
    <!-- gauge template-->
    <script src="javascripts/gauge.js-gh-pages/dist/gauge.js"></script>
    <script src="javascripts/gauge.js-gh-pages/dist/gauge.min.js"></script>
    
    <!-- Hight chart-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <!-- Graphs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="javascripts/canvasjs.min.js"></script>
  <!-- theme Chart pie-->
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
  <!-- chart div google -->
  <script type="text/javascripts" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="javascripts/js-designPage/myScripts.js" ></script>
  <script src="javascripts/canvasjs.min.js"></script>
  </body>
</html>